ul{
	list-style-type: none;
	width: 20%;
	padding: 0;
	margin: 0;
}
li a{
	display: block;
	background-color: #19b0cb;
	padding: 12px;
	text-decoration: none;
	font-family: arial,verdana, sans-serif;
}
li a:hover{
	background-color: #1b5e6a;
	color: white;
}
li a.activo{
	background-color: #1b5e6a;
	color: white;
}