header{
	width: 80%;
	background-color: #f1948a ;
	margin: auto;
	text-align: center;
}

form{

	width: 80%;
	text-align: center;
	background-color: #85c1e9;
	margin: auto;
	display: block;

}
.boton{
	padding-top:10px ;
	background-color: white;
}
